{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }}
{% endblock %}

{% block content %}

<a class="waves-effect waves-light btn modal-trigger" href="#modal1">Upload your meme</a>

  <!-- Modal Structure -->
  <div id="modal1" class="modal">
    <form method="post" enctype="multipart/form-data">
      <div class="modal-content">



          Select image to upload:
          <input type="file" name="fileToUpload" id="fileToUpload" onchange="loadFile(event)">
          
          <input type="text" name="text-top" id="text-top" placeholder="Your top text"/>
          <input type="text" name="text-bottom" id="text-bottom" placeholder="Your bottom text"/>
          <img id="output"/>
        

      </div>
      <div class="modal-footer">
        <input class=" modal-action modal-close waves-effect waves-green btn-flat" type="submit" value="Upload Image" name="submit">
      </div>
    </form>
</div>

{% for urls in url %}

<img src="uploads/{{urls.mem_image}}" alt="Votre image">
<p>http://localhost/meme_generator/uploads/{{ urls.mem_image }}</p>

{% endfor %}


{% for meme in memes %}

<a href="#modal1" class="modal-trigger" ><img class="activator img-cards gallery" src="img/{{ meme.gal_image }}"></a>

{% endfor %}

{% endblock %}

 
           
    

    
